<div class="crm-container">

    <div class="help">
        <p>{{$ctrl.calculateTotalText()}}</p>
    </div>

    <table>
        <thead>
        <tr>
            <th>{{ts('Add')}}</th>
            <th>{{ts('ID')}}</th>
            <th>{{ts('Name')}}</th>
            <th>{{ts('Frequency')}}</th>
            <th>{{ts('Is Refund?')}}</th>
            <th>{{ts('Is Prorate?')}}</th>
            <th>{{ts('Price')}}</th>
            <th>{{ts('Amount')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="myExpense in myExpenses">
            <td><input type="checkbox" ng-model="myExpense.checked"></td>
            <td>
                {{$ctrl.myExpense.id}}
            </td>
            <td>
                {{$ctrl.myExpense.name}}
            </td>
            <td>{{frequency[$ctrl.myExpense.frequency]}}</td>
            <td>{{$ctrl.myExpense.is_refund == "1" ? ts('Refund') : ts('Non Refund')}}</td>
            <td>{{$ctrl.myExpense.is_prorate == "1" ? ts('Prorate') : ts('Non Prorate')}}</td>
            <td>{{$ctrl.myExpense.amount | currency}}</td>
            <td>{{$ctrl.myExpense.amount}}</td>
        </tr>
        <tfoot>
        <tr>
            <th colspan=3>Sum</th>
            <th colspan=2>Total: {{$ctrl.calculateTotal() | currency}}</th>
        </tr>
        </tfoot>
        </tbody>
    </table>

</div>
