<af-form ctrl="afform">

    <af-entity url-autofill="1" type="RentalsInvoice" name="RentalsInvoice" label="Rental Invoice"
               actions="{create: true, update: false}" security="RBAC"/>
    <fieldset af-fieldset="RentalsInvoice" class="af-container" af-title="Invoice">
        <hp-select-rentals-for-invoice></hp-select-rentals-for-invoice>
        <style>
            .select2-container {
                min-width: 350px !important;;
            }

            .select2-drop {
                min-width: 350px !important;
            }
        </style>
<!--        <div class="row">-->
<!--            <div class="col-md-4 col-xs-6">-->
<!--                <select style="{min-width: 350px}"-->
<!--                        crm-ui-select="{placeholder: 'Select a Rental Start Date', allowClear: true}"-->
<!--                        ng-model="myrental">-->
<!--                    <option style="{min-width: 350px}" value=""></option>-->
<!--                    <option style="{min-width: 350px}" ng-repeat="myRental in myRentals" value="{{myRental.id}}">-->
<!--                        {{myRental.display_name}} {{myRental.admission}}-->
<!--                    </option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->


        <div class="row" hidden>
            <div class="col-4">
                <af-field name="rental_id" defn="{input_type: 'TextArea', input_attrs: {}}"/>
            </div>
            <div class="col-4">
                <af-field name="description"/>
            </div>
            <div class="col-4">
                <af-field name="amount"/>
            </div>
            s
            <div class="col-4">
                <af-field name="start_date"/>
            </div>
            e
            <div class="col-4">
                <af-field name="end_date"/>
            </div>
        </div>

<!--        <hp-expenses></hp-expenses>-->
    </fieldset>
    <hr style="height: 1px; opacity: 0%; background-color: #ccc; border: none; margin-bottom: 0px; padding-bottom: 0px"/>
    <button class="af-button btn btn-primary" crm-icon="fa-check" ng-click="afform.submit()">Submit</button>
</af-form>
