<af-form ctrl="afform">
  <af-entity url-autofill="1" type="RentalsExpense" name="RentalsExpense" label="Rental Expense" actions="{create: true, update: true}" security="RBAC" />
  <fieldset af-fieldset="RentalsExpense" class="af-container" af-title="Expense">
    <af-field name="name" />
    <af-field name="frequency" />
    <af-field name="amount" />
    <af-field name="is_refund" />
    <af-field name="is_prorate" />
  </fieldset>
  <button class="af-button btn btn-warning " type="reset" crm-icon="fa-undo">Reset</button>
  <button class="af-button btn btn-primary" crm-icon="fa-check" ng-click="afform.submit()">Submit</button>
  <button class="af-button btn btn-danger" crm-icon="fa-trash" ng-click="afform.delete()">Delete</button>
</af-form>
