<af-form ctrl="afform">

    <af-entity url-autofill="1" type="RentalsInvoice" name="RentalsInvoice" label="Rental Invoice"
               actions="{create: true, update: true}" security="RBAC"/>
    <fieldset af-fieldset="RentalsInvoice" class="af-container" af-title="Invoice">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <input style="{min-width: 350px}" crm-entityref="{entity: 'Contact', select: {allowClear:true}}"
                       ng-model="tenant"/>
            </div>
        </div>

        <style>
            .select2-container {
                min-width: 350px !important;;
            }

            .select2-drop {
                min-width: 350px !important;
            }
        </style>
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <select style="{min-width: 350px}"
                        crm-ui-select="{placeholder: 'Select a Rental Start Date', allowClear: true}" ng-model="myrental">
                    <option style="{min-width: 350px}" value=""></option>
                    <option style="{min-width: 350px}" ng-repeat="myRental in myRentals" value="{{myRental.id}}">
                        {{myRental.admission}}
                    </option>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 col-xs-6">
                <af-field name="rental_id" defn="{input_type: 'TextArea', input_attrs: {}}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <af-field name="description"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-6">
                <af-field name="amount"/>
            </div>
        </div>

        <!--        <textarea ng-model="totalSum"></textarea>-->
                <hp-expenses></hp-expenses>
        <!--        <div class="row">-->
        <!--            <div class="col-md-12 col-xs-12">-->
        <!--                <hp-textarea value="description"></hp-textarea>-->
        <!--            </div>-->
        <!--        </div>-->
    </fieldset>
    <hr style="height: 1px; opacity: 0%; background-color: #ccc; border: none; margin-bottom: 0px; padding-bottom: 0px"/>
    <button class="af-button btn btn-primary" crm-icon="fa-check" ng-click="afform.submit()">Submit</button>
</af-form>
